.home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home-page .home-content {
    padding: 8px 24px;
  /* background-color: aliceblue; */
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  overflow: auto;
}
